/nbproject/private/
/finalSWII-war/nbproject/private/
/finalSWII-ejb/nbproject/private/
/finalSWII-ejb/build/
/finalSWII-ejb/dist/
/finalSWII-war/build/
/finalSWII-war/dist/
/build/
*.class
*.res
*.rapt
*.MF
dist/gfdeploy/finalSWII/finalSWII-ejb_jar/.netbeans_automatic_build

dist/gfdeploy/finalSWII/finalSWII-ejb_jar/.netbeans_update_resources

dist/gfdeploy/finalSWII/finalSWII-war_war/WEB-INF/classes/.netbeans_automatic_build

dist/gfdeploy/finalSWII/finalSWII-war_war/WEB-INF/classes/.netbeans_update_resources

nbproject/project.properties

dist/gfdeploy/finalSWII/finalSWII-war_war/META-INF/MANIFEST.MF

dist/gfdeploy/finalSWII/finalSWII-ejb_jar/META-INF/MANIFEST.MF
